ul {
    
    width: 120px; /* Ширина меню */
    list-style: none; /* Для списка убираем маркеры */
    margin: 0; /* Нет отступов вокруг */
    padding: 0; /* Убираем поля вокруг текста */
    font-family: Arial, sans-serif; /* Рубленый шрифт для текста меню */
    font-size: 10pt; /* Размер названий в пункте меню */
}
li ul {
    position: absolute; /* Подменю позиционируются абсолютно */
    display: none; /* Скрываем подменю */
    margin-bottom: 12;
    /*    margin-left: 95px;  Сдвигаем подменю вправо */
    margin-top: 2; /* Сдвигаем подменю вверх */
}
li a {
    display: block; /* Ссылка как блочный элемент */
    padding: 5px; /* Поля вокруг надписи */
    text-decoration: none; /* Подчеркивание у ссылок убираем */
    color: #666; /* Цвет текста */
    border: 1px solid #ccc;/* Рамка вокруг пунктов меню */
    background-color: #f0f0f0; /* Цвет фона */
    border-bottom: none; /* Границу снизу не проводим */
}
li a:hover {
    
    color: gold; /* Цвет текста активного пункта */
    background-color: darkgreen; /* Цвет фона активного пункта */
}
li:hover ul { 
    display: block; /* При выделении пункта курсором мыши отображается подменю */
}
.brd {
    border-bottom: 1px solid #ccc; /* Линия снизу */
}
