/*CSS*/

body, html {
    font-family:Tahoma, Geneva, sans-serif;
    font-size:14px;
    margin:0px;
    padding:0px;
    background: #978d8d url(../images/bg.png) top center repeat-x;
    color: #ffffff;
}
header, footer, nav, article, form {display: block;}
.wrapper {
    margin: 0 auto;
    width:65%;
}
a{
    color: #fff;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

header{
    background: url(../images/header.jpg) top center no-repeat;
    height: 200px;
}

#menu{

    font-family:Arial, Geneva, sans-serif;
    font-size:16px;
    font-weight: bold;
    font-style: italic;
    background: #101211;
    height:30px;
    padding-left:10px;
}
#cart-hed {
    text-align: center;
    /*    float: bottom;*/
}
#menu div{

    float:left;
    margin-right: 30px;
    margin-top:5px;
}

#cart{
    float:right!important;
    color: #d3df17!important;
}

#cart a{
    color: #d3df17!important;
}
#input_name {
    size: 30;
}
.main-block{
    background:#101211;
    height: 900px;
}
.order {
    margin:  auto ;
    width: 500px;
    text-align: center; 
/*    background: #d3df17;*/
}
.product{

    width:137px;
    height:174px;
    float:left;
    margin:30px 0 0 70px;
}
.product-description{
    width: 230px;
    color: #fff;
}
.description{
    font-family: Arial;
    width:137px;
    background: #101211;     
    text-align: center;
}

.product-name{
    color: #fff;
    font-weight:500;
    font-size:12px;  
    padding:2px;
    font-style: italic;
}

.product-price{
    color: #d4e51c;
    font-style: italic;
    padding:2px;
}

footer{
    background: #202020;
    height:40px;
}

.footer-site{
    font-family: Arial;
    font-style: italic;
    font-weight:bold;
    text-align:center;
    width:95%;
    border-top:1px solid #fff;
    font-size:12px;
    color: #77730b;
    padding: 5px 0 0 0;
}

#mycart{
    width:60%;
    background: #898181;
    border-radius: 3px;
    padding:3px;
}

#mycart th{
    border-bottom:1px solid #fff;
    padding:3px;
}
.total{
    text-align: center;
    color: #fff;
    font-weight:bold;
}

#cart-form .product-price{
    font-style: normal;
}

.search{
    font-family: Arial;
    font-style: italic;
    font-weight:bold;
    text-align:center;
    background:#101211;
    height: 50px; 
}
.button {
    background-color:#3DA115;
    background-image:url(/images/button_green_bg.png);
    background-position:initial initial;
    background-repeat:repeat no-repeat;
    border:1px solid #FFFFFF;
    height:28px;
    line-height:25px;
    margin-bottom:10px;
    padding:2 20px;
    box-shadow:#999999 1px 1px 1px 1px;
    cursor:pointer;
    color:white;
    text-decoration:initial !important;
    vertical-align:middle;
    background-color:#3DA115;
}
#search-imput{
    width: 298px;
    height: 25px;
}
.login{
    padding:30px;
    margin: auto ;
    text-align: center;
}
#inputtext2{
    height: 30px;
    width: 150px;
}
#add{
    color: #d4e51c;
}    